<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:zygotePreloadName="com.emrys.rjsniffer.rjsniffer.AppZygotePreload">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


        <service
            android:name=".Sniffer"
            android:exported="false"
            android:isolatedProcess="true"
            android:useAppZygote="true" />
    </application>
</manifest>
